*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;   
    font-family: 'Roboto', sans-serif;
}

header div{
    display: inline-block;
}

header{
    background-color: white;
    padding: 10px 20px;
}

#title, #logo{
    vertical-align: middle;
}

#title{
    font-size: 22px;
}

main{
    padding-top: 30px;
    padding-bottom: 10px;
}

.content-box{
    background-color: white;
    margin: 2px auto;
    width: 70%;
    padding: 10px 0px 10px 40px;
}

button{
    padding: 5px 10px;
    border-radius: 5px;
}

#button1{
    background-color: #47ADF1;
    color: white;
    border: none;
}

#button2{
    background-color: white;
    color: #D0D5D9;
    border: solid 1px #D0D5D9;
}

div p{
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
}

div span{
    display: inline-block;
    margin: 10px 0px;
}

.trueorfalse{
    border: solid 1px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
    margin-right: 5px;
}

#true{
    color: #6DC4AE;
    border-color: #6DC4AE;
}

#false{
    color: #ED5F56;
    border-color: #ED5F56;
}

.category{
    color: white;
    border-radius: 15px;
    padding: 4px 8px;
    font-size: 12px;
}

#editorial{
    background-color: #45ABEA;
}

#q1goals{
    background-color: #9C72E4;
}

#recruiting{
    background-color: #64C0A9;
}

#mobile{
    background-color: #F29E33;
}

#website{
    background-color: #D863A1;
}

#sales{
    background-color: #B0C926;
}