* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 850px;
}

header div{
    display: inline-block;
    height: 60px;
}

header{
    border: solid 1px black;
}

#logo{
    vertical-align: middle;
}

#title{
    vertical-align: middle;
}

main{
    background-color: lightgray;
    width: 100%;
    min-height: 500px;
    padding-top: 30px;
}

.content-box{
    background-color: white;
    margin: 0px auto;
    width: 600px;
    padding: 10px 0px 0px 40px;
}

#button1{
    background-color: lightsteelblue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

#button2{
    background-color: white;
    color: grey;
    border-radius: 5px;
    border: solid 1px grey;
    padding: 5px 10px;
}

div p{
    font-weight: 600;
    font-size: 18px;
}

div span{
    display: inline-block;
}

.trueorfalse{
    border: solid 1px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
    margin-right: 5px;
}

#true{
    color: green;
    border-color: green;
}

#false{
    color: red;
    border-color: red;
}

.category{
    color: white;
    border-radius: 15px;
    padding: 4px 8px;
    font-size: 12px;
}

#editorial{
    background-color: blue;
}